<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Choose your own adventure</title>
    </head>
    
    <body>
        <h1>{{.Title}}</h1>

        {{range .Paragraph}}
            <p>{{.}}</p>
        {{end}}

        <ul>
            {{range .Options}}
            <li><a href="/{{.Arc}}">{{.Text}}</a></li>
            {{end}}
        </ul>
    </body>

</html>